.list-container{
    margin:2rem 2rem .5rem 2rem; 
    display: grid;
    grid-template-columns: 2fr 2fr 5fr 1fr 1fr;
    grid-template-rows: 2rem;
}
.list-glass{
    background-color:none;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    align-self: center;
    text-align: center;
    box-shadow: 5px 4px 7px rgb(40, 40, 40);
    background: linear-gradient(140deg,
    rgba(102, 168, 255, 0.15), 
    rgba(255, 255, 255,.1) ,
    rgba(255, 255, 255,.3),
    rgba(102, 168, 255, 0.2),
    rgba(255, 255, 255,.2), 
    rgba(255, 255, 255,.2),
    rgba(102, 168, 255, 0.2),
    rgba(255, 255, 255,.2)
    );
}
.task-container{
    background-color:white;
    margin:.5rem 2rem;
    display: grid;
    border-radius: 5px;
    grid-template-columns: 2fr 2fr 5fr 1fr 1fr;
    grid-template-rows: 3rem;
    border: 1px solid rgb(0, 255, 0);
    font-family: 'Quicksand', sans-serif;
}
.box{
    border: 1px solid rgb(255, 0, 179);  
    align-self: center;
    text-align: center;
}

/* ------------------------ */
.myFont{
    font-family: 'Quicksand', sans-serif;
}

.offcanvas-title{
    display: flex;
    margin: auto;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #cbcddf;
    background-size: cover;  
}
#bg{
    background: linear-gradient(360deg, #7eaaf7, #97bdff, #b9d3ff,#dce9ff, #dce9ff, #ffffff, #ffffff);
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment:fixed;
}
/* -------------PLACEMAT--------------- */
#icon1,
#icon2,
#icon3,
#icon4 {
    color:rgb(4, 27, 156);
}
/* ------------------------------------- */
h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  margin-top: 1rem;
  color:rgb(4, 27, 156);
  filter: drop-shadow(2px 3px 2px rgb(199, 200, 201));
}
/* ------------FORM--------------- */
input{
    filter: drop-shadow(4px 3px 2px rgb(40, 40, 40));
    width: 400px;
    display:flex;
    margin: 5px auto;
    height:35px;
    background-color: rgb(213, 230, 253);
    border: none;
    font-family: 'Quicksand', sans-serif;
        
}
::placeholder{
    font-family: 'Quicksand', sans-serif;
}

.myGrid{
    grid-gap:1rem;

}
.my-btn{
    float: right;
    width: 40px;
    height: 40px;
    margin:0 .5rem;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid rgba(4, 27, 156, .6);
    
}
.gear-btn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
}
#addTask{
    filter: drop-shadow(1px 1px 1px rgb(40, 40, 40));
}

.form-check-label{
    font-size: 18px;
    filter: drop-shadow(2px 2px 1px rgb(14, 92, 209));   
}

.glass{
    width: 600px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 2rem;
    margin:1rem auto;
    box-shadow: 5px 4px 7px rgb(40, 40, 40);
    background: linear-gradient(140deg,
    rgba(102, 168, 255, 0.15), 
    rgba(255, 255, 255,.25),
    rgba(255, 255, 255,.05),
    rgba(255, 255, 255,.2), 
    rgba(102, 168, 255, 0.2),
    rgba(255, 255, 255,.1),
    rgba(255, 255, 255,.2)
    );
}
@media only screen and (max-width: 500px){
    .glass{
        width: 250px;

    }
    input{
        width: 200px;
        height:auto;         
    }
    
}

@media only screen and (max-width: 600px){
 
    .list-container{
        height: 3rem;
    }    
}
/* ------------TABLE-------------- */

#list{
    display:flex;
    justify-content: center;
    margin: auto;
    filter: drop-shadow(4px 3px 2px rgb(40, 40, 40));
}  