body{
    font-family:Garamond, serif;
    background-repeat: no-repeat; 
    background-color: #cccccc;
    background-size: cover;
}

#bg{
    background-color: rgb(108, 119, 138);
}

.my-style{
    font-family:Garamond, serif;

}
.title {
  font-family:Garamond, serif;
  font-size: 50px;
  font-weight:bold;
  line-height: 60px;
  margin-top: 1rem;
  background: -webkit-linear-gradient( rgb(16, 124, 248),rgb(3, 18, 139));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(0, 133, 221);
  filter: drop-shadow(2px 2px 1px rgb(6, 30, 165));
}


/* ------------FORM--------------- */
input{
    font-family:Garamond, serif;
    filter: drop-shadow(4px 3px 2px rgb(40, 40, 40));
    
}

.my-btn{
    width: 50px;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 40px;
    
}
#addTask{
    filter: drop-shadow(1px 1px 1px rgb(40, 40, 40));
}

.form-check-label{
    font-family:Garamond, serif;
    color:rgb(3, 18, 139);
    font-weight: bolder;
    font-size: 18px;
    filter: drop-shadow(1px 1px 1px rgb(2, 91, 224)); 
     
}

.glass{
    /* background-color: rgba(255, 255, 255, .2);   */
    background: linear-gradient(140deg,
    rgba(102, 168, 255, 0.15), 
    rgba(255, 255, 255,.3),
    rgba(255, 255, 255,.1) ,
    rgba(255, 255, 255,.2), 
    rgba(102, 168, 255, 0.2),
    rgba(255, 255, 255,.2),
    rgba(255, 255, 255,.2)
    );
    
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding:.5rem;
    margin:0 .75rem;
}

/* ------------TABLE-------------- */

#list{
    display:flex;
    justify-content: center;
    margin: auto;
    filter: drop-shadow(4px 3px 2px rgb(40, 40, 40));
    font-family: Garamond, serif;
}